product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
system/system/priv-app/MIUIMusic/MIUIMusic.apk
system/system/priv-app/MIUIGallery/MIUIGallery.apk
system/system/priv-app/MIUIVideo/MIUIVideo.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MIUIBrowser/MIUIBrowser.apk
system/system/priv-app/MIUIVipService/MIUIVipService.apk
system/system/data-app/MIShop/MIShop.apk
system/system/data-app/SmartHome/SmartHome.apk
system/system/data-app/MIUIYoupin/MIUIYoupin.apk
system/system/data-app/MIUIVipAccount/MIUIVipAccount.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
boot.img
